{% extends 'login/basic.html' %}

<!-- basic.html contains the code that is needed many times. So to escape redundancy we use temp inheritance-->
{% block title%} {{product.title}} Watch{% endblock %} {% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3 id="ptitle">{{product.title}}</h3>
<div class="container my-4">
    <div class="row my-4">
        <!--we need to add this div so that image is displayed on left side and description on right side-->
        <div class="col-md-4">
            <div class="row">
                <img src="/media/{{product.image}}" width=300px height=400px alt="...">
            </div>

        </div>
        <div class="col-md-8">

            {% if product.discount_value > 0 %}
            <h2>MRP:</h2>
            <p><s>{{product.value}}</s>per day</p>
            <h2>Discount MRP:</h2>
            <p class="card-text text-success">{{product.discount_value}} per day</p>
            {% else %}
            <p>{{product.value}} per day</p>
            {% endif %}
            <p>{{product.description}}</p>


            <form action="/checkout">
                <input type="hidden" name="pname" id="item">
                <label for="initialdate">Start Date:</label>
                <input id="datepickers" name="datepickers">
                <BR>
                <label for="returndate">Return Date:</label>
                <input id="datepickerr" name="datepickerr" data-provide="datepicker">
                <BR>
                <button type="submit" class="btn btn-primary">Apply</button>
            </form>

        </div>
        
        <div class="col md-4 my-5">
            <a class="btn btn-outline-success btn-lg" href="/showreview/{{product.product_id}}">User Reviews</a>
        </div>
        <div class="col md-8 my-5">
            <a class="btn btn-outline-success btn-lg" href="/review/{{product.product_id}}">Write a Review</a>
        </div>

        </div>


    </div>

    {% endblock %} {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script>
        $(document).ready(function() {
            $(function() {
                var dateToday = new Date();
                var n = 2;
                dateToday.setDate(dateToday.getDate() + n);
                var dates = $("#datepickers, #datepickerr").datepicker({
                    defaultDate: "+2d",
                    changeMonth: true,
                    numberOfMonths: 1,
                    minDate: dateToday,
                    dateFormat: 'dd MM yy',
                    onSelect: function(selectedDate) {
                        var option = this.id == "datepickers" ? "minDate" : "maxDate",
                            instance = $(this).data("datepicker"),
                            date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                        dates.not(this).datepicker("option", option, date);
                    }
                });
            });
        });

        var item = {{product.product_id}}
        $("#item").val(item)
    </script>
    {% endblock %}