{% extends "login/basic.html" %} {% block title %} orderdetails {% endblock %} 
{% block body %}
    {% if user.is_authenticated %}
        <div class="jumbotron my-3 p-3 mb-2 bg-danger text-white" >
            <h1 class="display-4">Hi {{user.username}}</h1>
            <p class="lead">Order Id:{{order.order_id}}</p>
            <hr class="my-4">
            <h4>{{booking.watch.title}}</h4>
            <img src="{{booking.watch.image.url}}" style="height:200px; width:200px">
            <h4>Initial Date:{{booking.initial_date}}</h4>
            <h4>Return Date:{{booking.final_date}}</h4>
            <h4>Rent: Rs.{{order.amount}}</h4>
            <h4>Deposit: Rs.{{booking.watch.deposit}}</h4>
            <p>Order will be delivered 1 day before the initial date</p>
            <a class="btn btn-primary btn-lg" href="/cancel_order/{{order.order_id}}" role="button">Cancel Order</a>
        </div>

    {% endif %}
{% endblock %}