{% extends "login/basic.html" %} {% block title %}showorders {% endblock %} {% block body %}


        {% for o,val in orders.items%}
        {% for value in val %}
        <!--tr>
            <th scope="row">{{o.order_id}}</th>
            <td>{{value.watch.title}}</td>
            <td>{{o.ordered_date}}</td>
            <td>{{value.initial_date}}</td>
            <td>{{value.final_date}}</td>
            <td><a href="/cancel_order/{{o.order_id}}">Cancel Order</a></td>

        </tr-->

        <div class="card my-3">
            <div class="card-header">
                {{value.watch.title}}
            </div>
            <div class="card-body">
                <h4>Order Id:{{o.order_id}}</h4>
                <img src="{{value.watch.image.url}}" style="height:200px; width:200px">
                <p class="card-text">Status: {{value.status}}</p>
                <a href="/orderdetails/{{o.order_id}}" class="btn btn-primary">View Order Details</a>
            </div>
        </div>

        {% endfor %}
        {%endfor%}
   
{% endblock %} 

