{% extends "login/basic.html" %} {% block title %}showorders {% endblock %} {% block body %} 


<table class="table table-dark my-3">
  <thead>
    <tr class="bg-success">
      <th scope="col">Order_id</th>
      <th scope="col">Product</th>
      <th scope="col"></th>
      <th scope="col">Ordered_date</th>
      <th scope="col">Start Date</th>
      <th scope="col">Return Date</th>

    </tr>
  </thead>
  <tbody>
    {% for o,value in orders.items%}
    <tr>
      <th scope="row">{{o.order_id}}</th>
      <td>{{value.watch.title}}</td>
      <td><img src="{{value.watch.image.url}}" style="height:200px; width:200px">
      </td>
      <td>{{o.ordered_date}}</td>
      <td>{{value.initial_date}}</td>
      <td>{{value.final_date}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}